$box1 : rgba(0, 0, 0, 0.4) 0px 30px 90px;
$box2 : rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
$clr1 : rgba(4, 247, 77, 0.932);
$clr2 : rgba(0, 140, 255, 0.89);
$clr3 : rgba(253, 228, 0, 0.712);

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    height: 100vh;
    width: 100wh;
    background: linear-gradient(to bottom, rgb(23, 57, 73), rgb(3, 62, 73));
    font-size: 1.8rem;
    overflow: hidden;
    font-family: 'Maven Pro', sans-serif;
}

.box{

    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(3, 19, 8, 0.322);
        z-index: 1;
        max-width: 60rem;
    }

    .content{
        color: rgb(255, 255, 255);
        padding: 5rem 2.5rem;
        z-index: 100;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        max-width: 60rem;
        
        @media (min-width:500px){
            display: grid;
            grid-template-areas: 'a .''b c';
            align-items: start;
            align-content: flex-start;
            grid-gap: 2rem;
            
        }
        
        .row1{
            margin: 0 0 3rem 0;
            grid-area: a;
            h1{
                font-size: 3rem;
                height: auto;
                color: white;
                font-weight: 500;
            }
        }

        .row2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
            grid-area: b;

            .cta{
                height: 7.5rem;
                min-width: 100%;
                background: rgba(131, 127, 127, 0.26);
                border-radius: 1.6rem;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s;
                overflow: hidden;
                box-shadow: $box2;
                text-shadow: 0px 0px 3px rgba(87, 85, 85, 0.24);

                i{
                    font-size: 2.4rem;
                }

                .text{
                    margin: 0 0 0 1rem;
                    .desc{
                        font-size: 1.2rem;
                    }
                }
              
            }

            .clr1 {
                background-color: $clr1;
            }
            .clr2{
                background: $clr2;
            }
            .clr3{
                background: $clr3;
            }
            .press{
                animation: press 0.3s; 
            }
        }

        .row3{
            padding: 3.5rem 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            grid-area: c;
            @media (min-width:500px){
                padding: 0;
                grid-template-columns: repeat(3, 1fr);
                align-content: start;
            }
            @media (max-width:300px){
                grid-template-columns: repeat(3, 1fr);
            }
            @media (max-width:250px){
                grid-template-columns: repeat(2, 1fr);
            }
            .btns{
                height: 6.5rem;
                width: 6.5rem;
                border-radius: 50%;
                background: rgba(131, 127, 127, 0.26);
                margin: 1rem 0.7rem;
                cursor: pointer;
                transition: all 0.3s;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                box-shadow: $box2;
                font-size: 2.3rem;
                text-shadow: 0px 0px 3px rgba(87, 85, 85, 0.219);
            }

            .clr1 {
                background-color: $clr1;
            }
            .clr2{
                background: $clr2;
            }
            .clr3{
                background: $clr3;
            }
            .press{
                animation: press2 0.3s; 
            }

        }
        
    }

}

@keyframes press2{

    50%{
        height: 6rem;
        width: 6rem;
    }

    100%{
        height: 6.5rem;
        width: 6.5rem;
    }

}